<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>DEQ WM App</title>
</head>

<body>
  <header>
    <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="#">DEQ WM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/deq/home/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Checklists</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/deq/letters/">Letters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/deq/facilityList/">Facilities</a>
          </li>
          {% if isAdmin == True %}
          <li class="nav-item">
            <a class="nav-link" href="#">Staff</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/deq/logout/">Sign Out</a>
          </li>
        </ul>
      </div>
    </nav>
      {% include 'nav.html' %}
  </header>
  <main>
    <div class="pt-4"></div>
    <div class="container">
      <div class="jumbotron jumbotron-fluid rounded-lg">
        <div class="container">
          <h1 class="display-4">DEQ Waste Management</h1>
          <p class="lead">The primary purpose of Waste Management (WM) is to protect public health and
            the environment by assuring that solid and hazardous wastes and underground storage tanks are managed
            properly,
            and that existing contamination is cleaned up.</p>
          <hr class="my-4">
          <p> This is accomplished through the Hazardous Waste, Solid Waste, Superfund,
            and Underground Storage Tank Programs. In addition,
            the Brownfields Program promotes redevelopment of abandoned, idle and/or under-utilized sites.</p>
          <a class="btn btn-primary btn-lg" href="https://deq.nc.gov/about/divisions/waste-management"
            role="button">Learn more</a>
        </div>
      </div>
      <div class="card">
        <h5 class="card-header">Reports</h5>
        <div class="card-body">
          <h5 class="card-title">Report #1</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          <hr />
          <h5 class="card-title">Report #1</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>



  </main>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>

</html>